<ion-view view-title="Misi&oacute;n">
 <!--  <ion-header-bar>
   <div class="buttons">
     <button class="button button-clear" native-ui-sref="app.main" native-options="{type: 'slide', direction:'right'}"> <i class="ion-arrow-left-c"></i> Regresar</button>
   </div>
   <h1 class="title">Misi&oacute;n y visi&oacute;n</h1>
 </ion-header-bar> -->
  <ion-content>
  		<div class="padding-horizontal">
 			<h2>Misi&oacute;n</h2>
 			<p>
				Formar profesionales emprendedores con un sentido humanista y consientes del desarrollo sustentable, que realicen proyectos en atención a las demandas sociales.
 			</p>
 			<br>

 			<h2>Principios</h2>
 			<p>
				Atención a la Demanda Social<br>
				Calidad<br>
				Sustentabilidad<br>
				Educación innovadora<br>
				Derechos Humanos<br>
 			</p>
 			<br>

 			<h2>Valores</h2>
 			<p>
				Compromiso Social<br>
				Eficiencia<br>
				Eficacia<br>
				Crecimiento sustentable<br>
				Libertad<br>
				Respeto<br>
				Responsabilidad<br>
				Justicia<br>
				Solidaridad<br>
				Ética
 			</p>
 			<br>

 			<h2>Pol&iacute;tica ambiental</h2>
 			<p>
				Certificación LED<br>
				Ahorro de Agua<br>
				Diseño Bioclimático<br>
				Arquitectura del paisaje<br>
				Proyecto Bioarquitectónico, Ecológico y Autosustentable<br>
 			</p>
  		</div>
  </ion-content>
</ion-view>
