<ion-view view-title="Infraestructura">
  <ion-content>
  
		<div class="list card">
		  <div class="item item-avatar">
			    <img src="assets/img/uninova_inicio.png"
			    <h2>Principal</h2>
			    <p>Entrada</p>
		  </div>
		  <div class="item item-image">
		    	<img src="assets/img/infraestructura1.jpg">
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-avatar">
			    <img src="assets/img/uninova_inicio.png"
			    <h2>Biblioteca</h2>
			    <p>Entrada</p>
		  </div>
		  <div class="item item-image">
		    	<img src="assets/img/infraestructura2.jpg">
		  </div>
		</div>

  </ion-content>
</ion-view>
