<ion-view view-title="Oferta educativa">
  <!-- <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="vm.regresar()"> <i class="ion-arrow-left-c"></i> Regresar</button>
    </div>
    <h1 class="title">Oferta Educativa</h1>
  </ion-header-bar> -->
  <ion-content scroll="false">
  
    <div class="container-oferta-educativa">
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Derecho y ciencias penales
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Gestión de empresas 
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Administración aduanal
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. finanzas
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Comunicación y producción de medios
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Urbanismo sustentable
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Gestión de instituciones educativas
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Periodismo
            </button>
        </div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Diseño, animación y artes digitales
            </button>
        </div>
        <div class="btn-oferta-educativa"></div>
        <div class="btn-oferta-educativa" native-ui-sref="app.oferta" native-options="{type: 'slide', direction:'up'}">
            <button class="button button-icon blanco">
                <i class="icon ion-ribbon-b"></i> Lic. Lingüística
            </button>
        </div>
        <div class="btn-oferta-educativa"></div>
    </div>

  </ion-content>
</ion-view>
